@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    /* background-color: #e4f0ed; */
    background: radial-gradient(circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2%);
    height: auto;
}

/******* BARRA HORIZONTAL DE SIGN-IN LOGIN *******/
.barraSuperior{
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .8);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(89,195,195,1) 0%, rgba(14,175,181,1) 90% );
    width: 100%;
	z-index: 3;
	top: 0;
}

/******* BARRA VERTICAL IZQUIERDA *******/
.barraIzquierda{
	height: 100vh;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
	z-index: 2;
    font-size: 20px;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

.nav{
    padding-top: 85px;
}

.contenedorPrincipal{
	margin-top: 120px;
}

.perfil{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
    color: #fff;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

form.calificacion {
  margin: 0 auto;
  display:block;
  direction: rtl;
  unicode-bidi: bidi-override;
  float:right;
}

#caja{
    width: 400px;
    height: 500px;
    background-color: #FdF;
}

/* calificacion de noticia*/
form.calificacion label {
  color: grey;
}

form.calificacion label:hover,
form.calificacion label:hover ~ label {
  color: orange;
}

form.calificacion input[name="estrellas"]:checked ~ label {
  color: orange;
}

input[name="estrellas"] {
    display: none;
}
/* fin calificacion de noticia*/


.seccionNoticia{
    background-image: linear-gradient(to right, #ff4b1f 0%, #ff9068 51%, #ff4b1f 100%);
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
}

.seccionNoticia:hover{
    background-position: right center;
}

.noticia{
    background-color: #fff;
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    padding: 20px;
}

.iconoOscuro{
    color: rgba(0, 0, 0, .5);
}

.container #form-row #form-column #form-box{
    margin-top: 70px;   
    max-width: 900px;   
    max-height:600px;
    padding: 20px;
    box-shadow: 2px 1px 4px 1px #0EAFB5;
    border-radius: 3px;
}

.btn-formulario{
    background-color: #0EAFB5;
    color: #fff;
}

@media(max-width:1000px){
	.perfil{
		display: none;
	}
}

@media(max-width: 992px){
    .barraIzquierda{
        height: auto;
    }
    .contenedorPrincipal{
        margin-top: 50px;
    }
}
