@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    /* background-color: #e4f0ed; */
    background: radial-gradient(circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2%);
    height: auto;
}

/******* BARRA HORIZONTAL DE SIGN-IN LOGIN *******/
.barraSuperior{
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .8);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(89,195,195,1) 0%, rgba(14,175,181,1) 90% );
    width: 100%;
	z-index: 3;
	top: 0;
}

.barraSuperior a{
	color: white;
}

.barraSuperior a:hover{
	color: black;
	transition: 0.5s;
}

/******* BARRA VERTICAL IZQUIERDA *******/
.barraIzquierda{
    margin-top: 85px;
	width: 15%;
	height: 100vh;
	position: fixed;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
	z-index: 2;
    flex: 0 0 10%;
    font-size: 20px;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

.botonBarraIzquierda{
	background-color: #686de0;
	position: fixed;
	margin-top: 250px;
	border-radius: 0 10% 10% 0;
	z-index: 4;
	display: none;
	box-shadow: 0px 0px 1px 1px #000;
}

#botonBarraIzquierda{
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust: none;
}

.contenedorPrincipal{
	margin-top: 120px;
}

.perfil{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
    color: #fff;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

form.calificacion {
  margin: 0 auto;
  display:block;
  direction: rtl;
  unicode-bidi: bidi-override;
  float:right;
}

#caja{
    width: 400px;
    height: 500px;
    background-color: #FdF;
}

/* calificacion de noticia*/
form.calificacion label {
  color: grey;
}

form.calificacion label:hover,
form.calificacion label:hover ~ label {
  color: orange;
}

form.calificacion input[name="estrellas"]:checked ~ label {
  color: orange;
}

input[name="estrellas"] {
    display: none;
}
/* fin calificacion de noticia*/


.seccionNoticia{
    background-image: linear-gradient(to right, #ff4b1f 0%, #ff9068 51%, #ff4b1f 100%);
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
}

.seccionNoticia:hover{
    background-position: right center;
}

.noticia{
    background-color: #fff;
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    padding: 20px;
}

.iconoOscuro{
    color: rgba(0, 0, 0, .5);
}

@media(max-width:1200px){
	.barraIzquierda{
		width: 100%;
		display: none;
	}
	.botonBarraIzquierda{
		display: inline;
	}
}

@media(max-width:1000px){
	.perfil{
		display: none;
	}
}
