@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    /* background-color: #e4f0ed; */
    /* background-image: linear-gradient( 179.7deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% ); */
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    height: auto;
}

/******* BARRA HORIZONTAL DE SIGN-IN LOGIN *******/
.barraSuperior{
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .8);
    
    background: rgb(123,213,194);
    background: -moz-linear-gradient(to left, rgba(123,213,194,1) 29%, rgba(14,175,181,1) 49%, rgba(123,213,194,1) 80%);
    background: -webkit-linear-gradient(to left, rgba(123,213,194,1) 29%, rgba(14,175,181,1) 49%, rgba(123,213,194,1) 80%);
    background: linear-gradient(to left, rgba(123,213,194,1) 29%, rgba(14,175,181,1) 49%, rgba(123,213,194,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7bd5c2",endColorstr="#7bd5c2",GradientType=1);

    width: 100%;
	z-index: 3;
}

/******* BARRA VERTICAL IZQUIERDA *******/
.barraIzquierda{
	height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
	z-index: 2;
    font-size: 20px;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

.nav{
    padding-top: 85px;
}

.contenedorPrincipal{
	margin-top: 120px;
}

.perfil{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
    color: #fff;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
    padding-top: 8%;
}

form.calificacion {
    margin: 0 auto;
    display: inline;
    direction: rtl;
    unicode-bidi: bidi-override;
    float: right;
}

#caja{
    width: 400px;
    height: 500px;
    background-color: #FdF;
}

/* calificacion de noticia*/
form.calificacion label {
  color: grey;
}

form.calificacion label:hover,
form.calificacion label:hover ~ label {
  color: orange;
}

form.calificacion input[name="estrellas"]:checked ~ label {
  color: orange;
}

input[name="estrellas"] {
    display: none;
}
/* fin calificacion de noticia*/


.seccionNoticia{
    background: rgb(14,150,156);
    background: -moz-linear-gradient(90deg, rgba(14,150,156,1) 24%, rgba(36,70,85,1) 64%, rgba(36,70,85,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(14,150,156,1) 24%, rgba(36,70,85,1) 64%, rgba(36,70,85,1) 100%);
    background: linear-gradient(90deg, rgba(14,150,156,1) 24%, rgba(36,70,85,1) 64%, rgba(36,70,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e969c",endColorstr="#244655",GradientType=1);

    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
}

.seccionNoticia:hover{
    background-position: right center;
}

.noticia{
    background-color: #fff;
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    padding: 20px;
}

.iconoOscuro{
    color: rgba(0, 0, 0, .5);
}

.container #form-row #form-column #form-box{
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: auto;
    max-height: auto;
    padding: 20px;
    box-shadow: 2px 1px 4px 1px #0EAFB5;
    border-radius: 3px;
}

.btn-formulario{
    background-color: #0EAFB5;
    color: #fff;
}

.btn-barra-derecha{
    background-color: #3B240A;
}

.fa-id-card:hover{
    color: #0EAFB5;
}

.editarPerfil{
    color: #000;
}

.editarPerfil:hover{
    color: #0EAFB5;
}

.fotoBarraDerecha{
    margin-top: 40px;
    height: auto;
    width: 350px;
    border-radius: 2%;
    border: 3px solid #0EAFB5;
}

.error{
    display: none;
    padding: 10px;
    width: 180px;
    font-size: 14px;
    margin-top: -15px;
    margin-right: 500px;
    padding: 10px;
    position: absolute;
}
.fotoEditarPerfil{
    width:30%;
    border-radius: 2%;
    border: 1px solid #0EAFB5;
}

.fotoEditarNoticia{
    width: 50%;
    border-radius: 2%;
    border: 1px solid #0EAFB5;
}

.bordePerfil{
    padding: 2%;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    border: 3px solid #0EAFB5;
}

.fotoPerfil{
    border-radius: 1%;
    border: 2px solid #0EAFB5;
}

.fechaComentario{
    font-size: 10px;
}

@media(max-width:1000px){
	.perfil{
		display: none;
	}
}

@media(max-width: 992px){
    .barraIzquierda{
        height: auto;
    }
    .contenedorPrincipal{
        margin-top: 50px;
    }
}
