@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    /* background-color: #e4f0ed; */
    /* background-image: linear-gradient( 179.7deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% ); */
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    height: auto;
}

/******* BARRA HORIZONTAL DE SIGN-IN LOGIN *******/
.barraSuperior{
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .8);
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,22,131,1) 0%, rgba(97,170,231,1) 90% ); */
    /* background-image: linear-gradient( 109.6deg,  rgba(3,195,187,1) 11.2%, rgba(180,196,255,1) 91.1% ); */
    /* background-image: linear-gradient( 114.1deg,  rgba(96,56,19,1) 2.9%, rgba(178,159,148,1) 157.9% ); */
    background: linear-gradient( to left,  rgba(127,113,116,1) 0.1%, rgba(79,70,72,1) 90% );
    width: 100%;
	z-index: 3;
	top: 0;
}

/******* BARRA VERTICAL IZQUIERDA *******/
.barraIzquierda{
	height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
	z-index: 2;
    font-size: 20px;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

.nav{
    padding-top: 85px;
}

.contenedorPrincipal{
	margin-top: 120px;
}

.perfil{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
    color: #fff;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .6);
}

form.calificacion {
  margin: 0 auto;
  display:block;
  direction: rtl;
  unicode-bidi: bidi-override;
  float:right;
}

#caja{
    width: 400px;
    height: 500px;
    background-color: #FdF;
}

/* calificacion de noticia*/
form.calificacion label {
  color: grey;
}

form.calificacion label:hover,
form.calificacion label:hover ~ label {
  color: orange;
}

form.calificacion input[name="estrellas"]:checked ~ label {
  color: orange;
}

input[name="estrellas"] {
    display: none;
}
/* fin calificacion de noticia*/


.seccionNoticia{
    background-image: linear-gradient( to left,  rgba(127,113,116,1) 0.1%, rgba(79,70,72,1) 90% );

    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
}

.seccionNoticia:hover{
    background-position: right center;
}

.noticia{
    background-color: #fff;
    box-shadow: 3px -1px 10px 0px rgba(51,51,51,0.34);
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    padding: 20px;
}

.iconoOscuro{
    color: rgba(0, 0, 0, .5);
}

.container #form-row #form-column #form-box{
    margin-top: 70px;
    max-width: 900px;
    max-height:600px;
    padding: 20px;
    box-shadow: 2px 1px 4px 1px #0EAFB5;
    border-radius: 3px;
}

.btn-formulario{
    background-color: #0EAFB5;
    color: #fff;
}

@media(max-width:1000px){
	.perfil{
		display: none;
	}
}

@media(max-width: 992px){
    .barraIzquierda{
        height: auto;
    }
    .contenedorPrincipal{
        margin-top: 50px;
    }
}
