.cabecera{
	width: 100%;
	height: 45px;
	background-color: #e0e1f8;
	z-index: 3;
}

/******* BARRA HORIZONTAL DE SIGN-IN LOGIN *******/
.barraSuperior{
	margin-top: 45px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, .8); 
	background-color: #686de0;
	width: 100%;
	z-index: 3;
	top: 0;
} 

.barraSuperior a{
	color: white;
}

.barraSuperior a:hover{
	color: black;
	transition: 0.5s;
}

/******* BARRA VERTICAL IZQUIERDA *******/
.barraIzquierda{
	margin-top: 101px;
	width: 10%;
	height: 100vh;
	position: fixed;
	background: #f0932b;
	z-index: 2;
	flex: 0 0 10%;
}

.botonBarraIzquierda{
	background-color: #686de0;
	position: fixed;
	margin-top: 250px;
	border-radius: 0 10% 10% 0;
	z-index: 4;
	display: none;
	box-shadow: 0px 0px 1px 1px #000;
}

#botonBarraIzquierda{
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust: none;
}

.contenedorPrincipal{
	margin-top: 120px;
}

.perfil{
	background-color: #f0932b;
	color: #fff;
}

form.clasificacion {
  margin: 0 auto;
  display:block;
  direction: rtl;
  unicode-bidi: bidi-override;
  float:right;
}

#caja{
    width: 400px;
    height: 500px;
    background-color: #FdF;
}

form.clasificacion label {
  color: grey;
}

form.clasificacion label:hover,
form.clasificacion label:hover ~ label {
  color: orange;
}

form.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}

@media(max-width:1200px){
	.barraIzquierda{
		width: 100%;
		display: none;
	}
	.botonBarraIzquierda{
		display: inline;
	}
}

@media(max-width:1000px){
	.perfil{
		display: none;
	}
}
